<%= form_with(model: uev, local: true) do |form| %>
  <% if uev.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uev.errors.count, "error") %> prohibited this uev from being saved:</h2>

      <ul>
      <% uev.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :uev_token %>
  </div>

  <div class="field">
    <%= form.label :uev_server %>
    <%= form.text_field :uev_server, id: :uev_uev_server %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
