<p id="notice"><%= notice %></p>

<h1>Uevs</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uevs.each do |uev| %>
      <tr>
        <td><%= uev.token %></td>
        <td><%= link_to 'Show', uev %></td>
        <td><%= link_to 'Edit', edit_uev_path(uev) %></td>
        <td><%= link_to 'Destroy', uev, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uev', new_uev_path %>
