<%= form_with(model: voter, local: true) do |form| %>
  <% if voter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voter.errors.count, "error") %> prohibited this voter from being saved:</h2>

      <ul>
      <% voter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uev %>
    <%= collection_select(:voter, :uev_id, Uev.all, :id, :token) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :voter_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :voter_cpf %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :voter_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :voter_gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
