<%= form_with(model: voter, local: true) do |form| %>
  <% if voter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voter.errors.count, "error") %> prohibited this voter from being saved:</h2>

      <ul>
      <% voter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 m8 l6">
      <div class="field">
        <%= form.label :uev %>
        <%= collection_select(:voter, :uev_id, Uev.all, :id, :token, { prompt: false }, { class: 'browser-default' }) %>
      </div>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :voter_name %>
      </div>

      <div class="field">
        <%= form.label :cpf %>
        <%= form.text_field :cpf, id: :voter_cpf %>
      </div>

      <div class="field">
        <%= form.label :date_of_birth %>
        <%= form.datetime_select :date_of_birth, { id: :voter_date_of_birth, order: [:day, :month, :year] }, { class: 'browser-default' } %>
      </div>

      <div class="field">
        <%= form.label :gender %>
        <%= form.text_field :gender, id: :voter_gender %>
      </div>

      <br><div class="actions waves-effect waves-light btn-large">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
