<%= form_with(model: election, local: true) do |form| %>
  <% if election.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(election.errors.count, "error") %> prohibited this election from being saved:</h2>

      <ul>
      <% election.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 m8 l6">
      <div class="field">
        <%= form.label :code %>
        <%= form.text_field :code, id: :election_code %>
      </div>

      <div class="field">
        <%= form.label :init %><br>
        <%= form.datetime_select :init, { id: :election_init, order: [:day, :month, :year] }, { class: 'browser-default' } %>
      </div>

      <div class="field">
        <%= form.label :finish %><br>
        <%= form.datetime_select :finish, { id: :election_finish, order: [:day, :month, :year] }, { class: 'browser-default' } %>
      </div>

      <br><div class="actions waves-effect waves-light btn-large">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
