<h1>Candidates</h1>

<div class="row center-cols">
<% @candidates.each do |candidate| %>

    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag(candidate.image, height: '300', width: '100')%>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="candidates/<%=candidate.id%>" ><i class="material-icons">add</i></a>
          <span class="card-title" style="color: orange;"><%= candidate.nickname %> - <%= candidate.number %></span>
        </div>
        <div class="card-content">
          <p><%=candidate.name%>, para <%= candidate.position.name %></p>
          <p>Uev: <%=candidate.uev.token%></p>
        </div>
        <div class="card-action">
          <a href="candidates/<%=candidate.id%>/edit">Edit</a>
          <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/candidates/<%=candidate.id%>">Destroy</a>
        </div>
      </div>
    </div>

<% end %>
</div>

<div class="actions waves-effect waves-light btn-large" style="margin: 10px;">
  <a><%= link_to 'New Candidate', new_candidate_path, { style: 'color: white;' } %></a>
</div>
