<!DOCTYPE html>
<html>
  <head>
    <title>Ueg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <nav class="nav-extended white">
              <div class="nav-wrapper">
                <a href="/" target="_self" class="brand-logo" style="color: black; margin-right: 10px; margin-left:10px;">Ueg</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse" style="color: #000;"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a style="color: #000" href="uevs">Uevs</a></li>
                  <li><a style="color: #000" href="candidates">Candidates</a></li>
                  <li><a style="color: #000" href="voters">Voters</a></li>
                  <li><a style="color: #000" href="apurations">Accounting</a></li>
                  <li><a style="color: #000" href="result">Results</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo" style="transform: translateX(-100%);">
                  <li><a href="uevs">Uevs</a></li>
                  <li><a href="candidates">Candidates</a></li>
                  <li><a href="voters">Voters</a></li>
                  <li><a href="apurations">Accouting</a></li>
                  <li><a href="result">Result</a></li>
                </ul>
              </div>
            </nav>
    <%= yield %>
  </body>
</html>
